.titlePage {
  background-color: #151516;
  outline: #151516 solid;
  /* background-color: rgb(226, 226, 226);
  background-color: white; */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.titlePage h1 {
  font-size: 30px;
  /* padding-top: 10px; */
  /* background: linear-gradient(to right, rgb(203, 0, 243), rgb(255, 8, 160)); */
  /* background: linear-gradient(to right, #ec2f4b, #009fff); */
  /* background: linear-gradient(to right, #3f5efb, #fc466b); */
  background: linear-gradient(to right, #0575e6, #00f260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleMain {
  font-size: 25px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleSecondary {
  font-size: 20px;
  /* background: linear-gradient(to right, #3284ff, #0003ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.textDark {
  color: rgb(226, 226, 226);
  background-color: #151516;
  width: 100%;
  padding: 20px 0px 10px 0px;
}

.textDark p {
  width: 40%;
  margin: auto;
  font-size: 20px;
  text-align: justify center;
  line-height: 35px;
}

@media (max-width: 1180px) {
  .textDark p {
    width: 70%;
    margin: auto;
    font-size: 20px;
    text-align: justify center;
    line-height: 35px;
  }
}

/* .textWhite {
  color: black;
  width: 100%;
  padding: 20px 0px 30px 0px;
}

.textGrey {
  color: black;
  background-color: rgb(226, 226, 226);
  width: 100%;
  padding: 20px 0px 30px 0px;
} */

/* .textGrey p {
  width: 40%;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
}
.textWhite p {
  width: 40%;
  margin: auto;
  font-size: 20px;
  text-align: justify;
  line-height: 35px;
} */
