.title h1 {
  font-size: 30px;
  padding-top: 10px;
  /* background: linear-gradient(to right, rgb(203, 0, 243), rgb(255, 8, 160)); */
  /* background: linear-gradient(to right, #ec2f4b, #009fff); */
  /* background: linear-gradient(to right, #3f5efb, #fc466b); */
  background: linear-gradient(to right, #0575e6, #00f260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textFS h1 {
  font-size: 25px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textFS p {
  width: 60%;
  margin: auto;
  padding: 0px 20px;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

.textFS {
  background-color: rgb(226, 226, 226);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.textSW {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

.textSW p {
  width: 60%;
  margin: auto;
  padding: 0px 20px;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

.textSW h1 {
  font-size: 25px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textITESO h1 {
  font-size: 25px;
  background: linear-gradient(to right, #e100ff, #7f00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textITESO p {
  width: 60%;
  margin: auto;
  padding: 0px 20px;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

.textITESO {
  background-color: rgb(226, 226, 226);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}
