.header {
  background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #333399,
    #ff00cc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
  /* text-align: center; */
}

/* .image img {
  width: 60px;
  height: 60px;
  align-self: start;
} */

.image {
  width: 60px;
  height: 60px;
  padding: 10px 30px;
  float: left;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* .header img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  display: inline-block;
} */

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-items: center;
  height: 80px;
}

.header li {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  padding: 25px 80px;
}

.header a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1170px) {
  .header li {
    font-size: 20px;
    padding: 25px 50px;
  }
}

@media (max-width: 375px) {
  .header li {
    font-size: 15px;
    padding: 35px 5px;
  }
}

/* background: #12c2e9; fallback for old browsers */
/* background: -webkit-linear-gradient(
  to right,
  #f64f59,
  #c471ed,
  #12c2e9
); Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(
  to right,
  #f64f59,
  #c471ed,
  #12c2e9
); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* background: #7f00ff; fallback for old browsers */
/* background: -webkit-linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(
    to right,
    #e100ff,
    #7f00ff
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
